services:
  app:
    build:
      context: .
      target: dev
    ports:
      - "3003:3000"
    volumes:
      - ./app:/app/app
      - ./components:/app/components
      - ./hooks:/app/hooks
      - ./lib:/app/lib
      - ./types:/app/types
      - ./data:/app/data
      - ./public:/app/public
    environment:
      - NODE_ENV=development
    command: npm run dev
